<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="oleksii_custom_products" frontName="oleksii_custom_products">
            <module name="Oleksii_CustomProducts"/>
        </route>
    </router>
</config>
